core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/breast_cancer_dataset/ultrasound_images/train
inputs/breast_cancer_dataset/ultrasound_images/validation
inputs/breast_cancer_dataset/ultrasound_images/test
